body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.btn {
  width: 250px;
  margin-left: 8px;
  margin-right: 4px;
  height: 100px;
  background-color: rgb(0, 122, 204);
  border-radius: 0;
  font-size: larger;
  font-weight: bold;
}
.container {
  margin-left: 5px;

  margin-right: 5px;
}
.btn a {
  text-decoration: none;
  color: white;
}
.btn a:hover {
  text-decoration: underline;
}
.head1 {
  position: relative;
  top: 30px;
}

.line {
  position: relative;
  border-left: 2px solid black;
  height: 55px;
  left: 300px;
  bottom: 30px;
}
.title1 {
  position: absolute;
  font-size: larger;
  top: 140px;
  left: 340px;
}
.tel {
  position: relative;
  display: flex;
  left: 1050px;
  bottom: 70px;
  font-size: 17px;
  margin: 0;
  padding: 0;
}
.email {
  margin: 0;
  position: relative;
  padding: 0;
  font-size: 17px;
  left: 1050px;
  bottom: 70px;
}
.email a {
  text-decoration: none;
  color: black;
}
.email a:hover {
  text-decoration: underline;
}
.image-tech {
  position: relative;
  left: 20px;
  bottom: 50px;
}
.section1 {
  position: absolute;
  top: 250px;
  right: 850px;
  font-size: 18px;
  width: 490px;
  font-family: "Open Sans", sans-serif;
  height: 200px;
  border: 1px;
  color: white;
  background-color: rgb(0, 122, 204);
}
.para0 {
  position: relative;
  padding-right: 22px;
  padding-left: 22px;
}
.line1 {
  color: white;
  border-style: dotted none none none;
  border-width: 2.5px;
  width: 91%;
  position: absolute;
  bottom: 135px;
}
.section2 {
  position: absolute;
  top: 560px;
  left: 700px;
  font-size: 50px;
  height: 80px;
  width: 510px;
  height: 70px;
  border: 1px;
  font-weight: 500;
  background-color: rgb(0, 122, 204);
}
.para1 {
  position: relative;
  left: 10px;
  font-size: 50px;
  color: white;
}
.card-section3 {
  position: relative;
  left: 40px;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  width: 380px;
  height: 470px;
  padding-right: 22px;
  padding-left: 22px;
  bottom: 2px;
  border: none;
  background-color: rgb(0, 0, 0, 0.1);
}
.line2 {
  color: rgb(168, 168, 168);
  border-style: dotted none none none;
  border-width: 2px;
  right: 0;
  left: 38px;
  width: 82%;
  position: absolute;
  top: 12%;
}
.card {
  width: 320px;
  height: 100px;
  position: absolute;
  top: 70px;
  left: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px double;
  font-size: xx-large;
  color: white;
  background-color: rgb(99, 95, 95);
}
.para2 {
  position: absolute;
  top: 15px;
  left: 38px;
  font-size: 26px;
}
.para3 {
  position: absolute;
  font-size: 17px;
  top: 190px;
  padding-right: 22px;
  padding-left: 22px;
}
.link1 {
  position: absolute;
  top: 435px;
  left: 230px;
  font-size: 20px;
}
.link1 a {
  text-decoration: none;
  color: rgb(0, 122, 204);
}
.link1 a:hover {
  text-decoration: underline;
}
.card-section4 {
  position: absolute;
  left: 450px;
  top: 650px;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  width: 380px;
  height: 470px;
  padding-right: 22px;
  padding-left: 22px;
  border: none;
  background-color: rgb(0, 0, 0, 0.1);
}
.line2 {
  color: rgb(168, 168, 168);
  border-style: dotted none none none;
  border-width: 2px;
  right: 0;
  left: 38px;
  width: 82%;
  position: absolute;
  top: 12%;
}
.card {
  width: 320px;
  position: absolute;
  height: 100px;
  display: flex;
  top: 70px;
  left: 35px;
  justify-content: center;
  align-items: center;
  border: 6px double;
  font-size: xx-large;
  color: white;
  background-color: rgb(99, 95, 95);
}
.para2 {
  position: absolute;
  top: 15px;
  font-size: 26px;
  left: 38px;
}
.para3 {
  position: absolute;
  font-size: 17px;
  top: 190px;
  padding-right: 22px;
  padding-left: 22px;
}
.link1 {
  position: absolute;
  top: 435px;
  left: 230px;
  font-size: 20px;
}
.link1 a {
  text-decoration: none;
  color: rgb(0, 122, 204);
}
.link1 a:hover {
  text-decoration: underline;
}
.card-section5 {
  position: absolute;
  left: 860px;
  top: 650px;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  width: 380px;
  height: 470px;
  padding-right: 22px;
  padding-left: 22px;
  border: none;
  background-color: rgb(0, 0, 0, 0.1);
}
.line2 {
  color: rgb(168, 168, 168);
  border-style: dotted none none none;
  border-width: 2px;
  right: 0;

  width: 84%;
  position: absolute;
  top: 12%;
}
.card {
  width: 320px;
  position: absolute;
  height: 100px;
  display: flex;
  top: 70px;
  left: 35px;
  justify-content: center;
  align-items: center;
  border: 6px double;
  font-size: xx-large;
  color: white;
  background-color: rgb(99, 95, 95);
}
.para2 {
  position: absolute;
  top: 15px;
  left: 32px;
  font-size: 24px;
}
.para3 {
  position: absolute;
  font-size: 17px;
  top: 190px;
  padding-right: 22px;
  padding-left: 22px;
}
.link1 {
  position: absolute;
  top: 435px;
  left: 230px;
  font-size: 20px;
}
.link1 a {
  text-decoration: none;
  color: rgb(0, 122, 204);
}
.link1 a:hover {
  text-decoration: underline;
}
.line3 {
  color: black;
  border-style: dashed none none none;
  border-width: 2px;

  position: absolute;
  left: 18px;
  top: 1150px;
  width: 97%;
}
.box1 {
  width: 200px;
  position: relative;
  height: 160px;
  display: grid;
  bottom: 200px;
  left: 20px;
  justify-content: center;
  align-items: center;
  border: 6px double;
  font-size: xx-large;
  color: white;
  background-color: rgb(99, 95, 95);
}
.section6 {
  position: relative;
  left: 230px;
  bottom: 100px;
  display: flex;

  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  width: 550px;
  height: 10px;
  padding-right: 10px;

  border: none;
}
.para4 {
  font-size: 15px;
  position: relative;
  bottom: 40px;
}
.line4 {
  color: black;
  display: inline-block;
  border-top: 1px dashed;
  right: 0;
  left: 0;
  width: 100%;
  position: relative;
  bottom: 20px;
}
.link2 {
  position: relative;
  bottom: 60px;
  left: 360px;
  font-size: 20px;
}
.link2 a {
  text-decoration: none;
  color: rgb(0, 122, 204);
}
.link2 a:hover {
  text-decoration: underline;
}
.card-section7 {
  width: 460px;
  height: 210px;
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  left: 800px;
  bottom: 110px;
  background-color: rgb(0, 0, 0, 0.1);
  position: relative;
}
.head2 {
  position: relative;
  font-size: 30px;
  left: 0px;
  color: rgb(0, 0, 0, 0.3);
  top: 5px;
}
.line6 {
  position: relative;
  border-top: 2px dashed;
  bottom: 30px;
}

.card-section7 a {
  position: relative;
  font-size: 14px;
  bottom: 0px;
  color: rgb(0, 122, 204);
  text-decoration: none;
  top: 15px;
}
.card-section7 a:hover {
  text-decoration: underline;
}
.link3 {
  position: relative;
  bottom: 50px;
}
.link4 {
  position: relative;
  bottom: 80px;
}
.link5 {
  position: relative;
  bottom: 110px;
}
.link6 {
  position: relative;
  bottom: 140px;
}
.link7 {
  position: relative;
  bottom: 170px;
}
.line5 {
  color: black;
  display: flex;
  border-top: 1px dashed;

  right: 215px;
  width: 140%;
  position: relative;
  bottom: 69px;
}
.box2 {
  width: 700px;
  position: relative;
  height: 150px;
  display: flex;
  margin-left: 20px;
  align-items: center;
  left: 50px;
  border: 6px double;
  font-size: xx-large;
  color: white;
  background-color: rgb(99, 95, 95);
}
.boxes {
  display: flex;
  position: relative;
  bottom: 150px;
}
.navbar1 {
  background-color: rgb(0, 122, 204);
  width: 100%;
  display: flex;
  position: relative;
  left: 0px;
}
.navbar1 span {
  display: flex;
  position: relative;
}
.p1 {
  position: relative;
  display: flex;
  top: 10px;
  left: 2%;
  color: white;
  font-size: 18px;
}
.p2 {
  position: relative;
  display: flex;
  top: 10px;
  left: 96%;
  color: white;
  font-size: 18px;
}
